<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block Login %}{% endblock %}</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="{{url_for('static', filename ='assets/imgs/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename ='assets/imgs/favicon.ico')}}" type="image/x-icon">

    <!--fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/menu.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/pace_loader.css') }}">
    <!-- Toastr - Alerts -->
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/custom_alert.css') }}">
</head>
<body>

    {% block body %}


    {% endblock %}


<script src="{{ url_for('static', filename ='assets/js/jquery-3.6.0.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/js/menu.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/js/pace.min.js') }}"></script>

<!-- Alert -->
<script src="{{ url_for('static', filename ='assets/js/custom_alert.js') }}"></script>
<script src="{{ url_for('static', filename ='assets/js/scripts.js') }}"></script>
    
</body>
</html>